@model IEnumerable<Mission06_Peterson.Models.Movie>

@{
    ViewBag.Title = "Movie Collection";
    Layout = "_Layout";
}

<h2 class="mb-4">Joel Hilton Movie Collection</h2>

<!--This displays everything from our databases-->
<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Category</th>
        <th>Edited</th>
        <th>Copied to Plex</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    
    <!--Loops through everything in our daabse while connecteing to our categories database.-->
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.Category?.CategoryName</td>
            <td>@(movie.Edited ? "Yes" : "No")</td>
            <td>@(movie.CopiedToPlex ? "Yes" : "No")</td>
            <td>
                <a asp-controller="Movie"
                   asp-action="Edit"
                   asp-route-id="@movie.MovieId"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>
                
<!---Delete Function-->
                <a asp-controller="Movie"
                   asp-action="Delete"
                   asp-route-id="@movie.MovieId"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>